###Data manipulation and analysis with Python.
data manipulation and analysis are key tasks in any DS or data analytics project. Pandas provides a wide range of functions for data analytics, making it easier to transform and extract insights from data.

In [2]:
import pandas as pd

df = pd.read_csv('Alzheimers.csv')
df.head(5)

/var/folders/kz/m1xjpx2d707b07x9l1zkhz2r0000gn/T/ipykernel_36520/136784835.py:3: DtypeWarning: Columns (17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Alzheimers.csv')

,RowId,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Response,...,QuestionID,ResponseID,LocationID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3,Report
0,BRFSS~2021~2021~9004~Q43~TOC11~AGE~RACE,2021,2021,WEST,West,BRFSS,Overall Health,Arthritis among older adults,Percentage of older adults ever told they have...,NaN,...,Q43,NaN,9004,AGE,AGE_OVERALL,RACE,HIS,NaN,NaN,NaN
1,BRFSS~2017~2017~9001~Q43~TOC11~AGE~OVERALL,2017,2017,NRE,Northeast,BRFSS,Overall Health,Arthritis among older adults,Percentage of older adults ever told they have...,NaN,...,Q43,NaN,9001,AGE,65PLUS,OVERALL,OVERALL,NaN,NaN,NaN
2,BRFSS~2019~2019~9002~Q02~TNC02~AGE~OVERALL,2019,2019,MDW,Midwest,BRFSS,Nutrition/Physical Activity/Obesity,Eating 3 or more vegetables daily,Percentage of older adults who are eating 3 or...,NaN,...,Q02,NaN,9002,AGE,AGE_OVERALL,OVERALL,OVERALL,NaN,NaN,NaN
3,BRFSS~2020~2020~59~Q43~TOC11~AGE~GENDER,2020,2020,US,"United States, DC & Territories",BRFSS,Overall Health,Arthritis among older adults,Percentage of older adults ever told they have...,NaN,...,Q43,NaN,59,AGE,65PLUS,GENDER,FEMALE,NaN,NaN,NaN
4,BRFSS~2020~2020~33~Q03~TMC01~AGE~GENDER,2020,2020,NH,New Hampshire,BRFSS,Mental Health,Frequent mental distress,Percentage of older adults who are experiencin...,NaN,...,Q03,NaN,33,AGE,5064,GENDER,FEMALE,NaN,NaN,NaN

In [3]:
df.describe()

,YearStart,YearEnd,Response,Data_Value,Data_Value_Alt,Sample_Size,StratificationCategory3,Stratification3,ResponseID,LocationID,StratificationCategoryID3,StratificationID3,Report
count,250937.000000,250937.000000,0.0,169302.000000,169302.000000,0.0,0.0,0.0,0.0,250937.000000,0.0,0.0,0.0
mean,2017.940933,2018.169716,NaN,37.328349,37.328349,NaN,NaN,NaN,NaN,793.866437,NaN,NaN,NaN
std,2.031564,2.081039,NaN,25.213181,25.213181,NaN,NaN,NaN,NaN,2502.174327,NaN,NaN,NaN
min,2015.000000,2015.000000,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN
25%,2016.000000,2016.000000,NaN,15.700000,15.700000,NaN,NaN,NaN,NaN,19.000000,NaN,NaN,NaN
50%,2018.000000,2018.000000,NaN,32.300000,32.300000,NaN,NaN,NaN,NaN,34.000000,NaN,NaN,NaN
75%,2020.000000,2020.000000,NaN,56.000000,56.000000,NaN,NaN,NaN,NaN,49.000000,NaN,NaN,NaN
max,2021.000000,2021.000000,NaN,100.000000,100.000000,NaN,NaN,NaN,NaN,9004.000000,NaN,NaN,NaN

In [4]:
##knowing meta data is also an important part of EDA/ETL
df.dtypes

RowId                          object
YearStart                       int64
YearEnd                         int64
LocationAbbr                   object
LocationDesc                   object
Datasource                     object
Class                          object
Topic                          object
Question                       object
Response                      float64
Data_Value_Unit                object
DataValueTypeID                object
Data_Value_Type                object
Data_Value                    float64
Data_Value_Alt                float64
Data_Value_Footnote_Symbol     object
Data_Value_Footnote            object
Low_Confidence_Limit           object
High_Confidence_Limit          object
Sample_Size                   float64
StratificationCategory1        object
Stratification1                object
StratificationCategory2        object
Stratification2                object
StratificationCategory3       float64
Stratification3               float64
Geolocation                    object
ClassID                        object
TopicID                        object
QuestionID                     object
ResponseID                    float64
LocationID                      int64
StratificationCategoryID1      object
StratificationID1              object
StratificationCategoryID2      object
StratificationID2              object
StratificationCategoryID3     float64
StratificationID3             float64
Report                        float64
dtype: object

In [5]:
##handling missing values
df.isnull().any()

RowId                         False
YearStart                     False
YearEnd                       False
LocationAbbr                  False
LocationDesc                  False
Datasource                    False
Class                         False
Topic                         False
Question                      False
Response                       True
Data_Value_Unit               False
DataValueTypeID               False
Data_Value_Type               False
Data_Value                     True
Data_Value_Alt                 True
Data_Value_Footnote_Symbol     True
Data_Value_Footnote            True
Low_Confidence_Limit           True
High_Confidence_Limit          True
Sample_Size                    True
StratificationCategory1       False
Stratification1               False
StratificationCategory2        True
Stratification2                True
StratificationCategory3        True
Stratification3                True
Geolocation                    True
ClassID                       False
TopicID                       False
QuestionID                    False
ResponseID                     True
LocationID                    False
StratificationCategoryID1     False
StratificationID1             False
StratificationCategoryID2     False
StratificationID2             False
StratificationCategoryID3      True
StratificationID3              True
Report                         True
dtype: bool

In [6]:
#count of missing values based on columns
df.isnull().sum()

RowId                              0
YearStart                          0
YearEnd                            0
LocationAbbr                       0
LocationDesc                       0
Datasource                         0
Class                              0
Topic                              0
Question                           0
Response                      250937
Data_Value_Unit                    0
DataValueTypeID                    0
Data_Value_Type                    0
Data_Value                     81635
Data_Value_Alt                 81635
Data_Value_Footnote_Symbol    151823
Data_Value_Footnote           151823
Low_Confidence_Limit           81785
High_Confidence_Limit          81785
Sample_Size                   250937
StratificationCategory1            0
Stratification1                    0
StratificationCategory2        32376
Stratification2                32376
StratificationCategory3       250937
Stratification3               250937
Geolocation                    26709
ClassID                            0
TopicID                            0
QuestionID                         0
ResponseID                    250937
LocationID                         0
StratificationCategoryID1          0
StratificationID1                  0
StratificationCategoryID2          0
StratificationID2                  0
StratificationCategoryID3     250937
StratificationID3             250937
Report                        250937
dtype: int64

In [7]:
df_filled = df.fillna(0)

In [8]:
##filling missing values with the mean of the column
##usually we use the below operation to handle the null values as the entire column has NAN values for time being im replacing it with 0
##df['Response_fillNa'] = df['Response'].fillna(df['Response'].mean())

df = df.fillna(0)
df

,RowId,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Response,...,QuestionID,ResponseID,LocationID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3,Report
0,BRFSS~2021~2021~9004~Q43~TOC11~AGE~RACE,2021,2021,WEST,West,BRFSS,Overall Health,Arthritis among older adults,Percentage of older adults ever told they have...,0.0,...,Q43,0.0,9004,AGE,AGE_OVERALL,RACE,HIS,0.0,0.0,0.0
1,BRFSS~2017~2017~9001~Q43~TOC11~AGE~OVERALL,2017,2017,NRE,Northeast,BRFSS,Overall Health,Arthritis among older adults,Percentage of older adults ever told they have...,0.0,...,Q43,0.0,9001,AGE,65PLUS,OVERALL,OVERALL,0.0,0.0,0.0
2,BRFSS~2019~2019~9002~Q02~TNC02~AGE~OVERALL,2019,2019,MDW,Midwest,BRFSS,Nutrition/Physical Activity/Obesity,Eating 3 or more vegetables daily,Percentage of older adults who are eating 3 or...,0.0,...,Q02,0.0,9002,AGE,AGE_OVERALL,OVERALL,OVERALL,0.0,0.0,0.0
3,BRFSS~2020~2020~59~Q43~TOC11~AGE~GENDER,2020,2020,US,"United States, DC & Territories",BRFSS,Overall Health,Arthritis among older adults,Percentage of older adults ever told they have...,0.0,...,Q43,0.0,59,AGE,65PLUS,GENDER,FEMALE,0.0,0.0,0.0
4,BRFSS~2020~2020~33~Q03~TMC01~AGE~GENDER,2020,2020,NH,New Hampshire,BRFSS,Mental Health,Frequent mental distress,Percentage of older adults who are experiencin...,0.0,...,Q03,0.0,33,AGE,5064,GENDER,FEMALE,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250932,BRFSS~2015~2015~54~Q30~TCC01~AGE~RACE,2015,2015,WV,West Virginia,BRFSS,Cognitive Decline,Subjective cognitive decline or memory loss am...,Percentage of older adults who reported subjec...,0.0,...,Q30,0.0,54,AGE,AGE_OVERALL,RACE,ASN,0.0,0.0,0.0
250933,BRFSS~2015~2015~40~Q35~TOC03~AGE~RACE,2015,2015,OK,Oklahoma,BRFSS,Overall Health,Recent activity limitations in past month,Mean number of days with activity limitations ...,0.0,...,Q35,0.0,40,AGE,5064,RACE,BLK,0.0,0.0,0.0
250934,BRFSS~2017~2017~33~Q44~TOC12~AGE~OVERALL,2017,2017,NH,New Hampshire,BRFSS,Overall Health,Severe joint pain among older adults with arth...,Severe joint pain due to arthritis among older...,0.0,...,Q44,0.0,33,AGE,AGE_OVERALL,OVERALL,OVERALL,0.0,0.0,0.0
250935,BRFSS~2015~2015~51~Q39~TGC04~AGE~RACE,2015,2015,VA,Virginia,BRFSS,Caregiving,Intensity of caregiving among older adults,Average of 20 or more hours of care per week p...,0.0,...,Q39,0.0,51,AGE,65PLUS,RACE,HIS,0.0,0.0,0.0
250936,BRFSS~2015~2015~49~Q02~TNC02~AGE~RACE,2015,2015,UT,Utah,BRFSS,Nutrition/Physical Activity/Obesity,Eating 3 or more vegetables daily,Percentage of older adults who are eating 3 or...,0.0,...,Q02,0.0,49,AGE,5064,RACE,HIS,0.0,0.0,0.0

In [9]:
##renaming columns
df = df.rename(columns = {'Datasource':'Data_source'})
df.head()

,RowId,YearStart,YearEnd,LocationAbbr,LocationDesc,Data_source,Class,Topic,Question,Response,...,QuestionID,ResponseID,LocationID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3,Report
0,BRFSS~2021~2021~9004~Q43~TOC11~AGE~RACE,2021,2021,WEST,West,BRFSS,Overall Health,Arthritis among older adults,Percentage of older adults ever told they have...,0.0,...,Q43,0.0,9004,AGE,AGE_OVERALL,RACE,HIS,0.0,0.0,0.0
1,BRFSS~2017~2017~9001~Q43~TOC11~AGE~OVERALL,2017,2017,NRE,Northeast,BRFSS,Overall Health,Arthritis among older adults,Percentage of older adults ever told they have...,0.0,...,Q43,0.0,9001,AGE,65PLUS,OVERALL,OVERALL,0.0,0.0,0.0
2,BRFSS~2019~2019~9002~Q02~TNC02~AGE~OVERALL,2019,2019,MDW,Midwest,BRFSS,Nutrition/Physical Activity/Obesity,Eating 3 or more vegetables daily,Percentage of older adults who are eating 3 or...,0.0,...,Q02,0.0,9002,AGE,AGE_OVERALL,OVERALL,OVERALL,0.0,0.0,0.0
3,BRFSS~2020~2020~59~Q43~TOC11~AGE~GENDER,2020,2020,US,"United States, DC & Territories",BRFSS,Overall Health,Arthritis among older adults,Percentage of older adults ever told they have...,0.0,...,Q43,0.0,59,AGE,65PLUS,GENDER,FEMALE,0.0,0.0,0.0
4,BRFSS~2020~2020~33~Q03~TMC01~AGE~GENDER,2020,2020,NH,New Hampshire,BRFSS,Mental Health,Frequent mental distress,Percentage of older adults who are experiencin...,0.0,...,Q03,0.0,33,AGE,5064,GENDER,FEMALE,0.0,0.0,0.0

In [10]:
df.dtypes

RowId                          object
YearStart                       int64
YearEnd                         int64
LocationAbbr                   object
LocationDesc                   object
Data_source                    object
Class                          object
Topic                          object
Question                       object
Response                      float64
Data_Value_Unit                object
DataValueTypeID                object
Data_Value_Type                object
Data_Value                    float64
Data_Value_Alt                float64
Data_Value_Footnote_Symbol     object
Data_Value_Footnote            object
Low_Confidence_Limit           object
High_Confidence_Limit          object
Sample_Size                   float64
StratificationCategory1        object
Stratification1                object
StratificationCategory2        object
Stratification2                object
StratificationCategory3       float64
Stratification3               float64
Geolocation                    object
ClassID                        object
TopicID                        object
QuestionID                     object
ResponseID                    float64
LocationID                      int64
StratificationCategoryID1      object
StratificationID1              object
StratificationCategoryID2      object
StratificationID2              object
StratificationCategoryID3     float64
StratificationID3             float64
Report                        float64
dtype: object

In [11]:
df

,RowId,YearStart,YearEnd,LocationAbbr,LocationDesc,Data_source,Class,Topic,Question,Response,...,QuestionID,ResponseID,LocationID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3,Report
0,BRFSS~2021~2021~9004~Q43~TOC11~AGE~RACE,2021,2021,WEST,West,BRFSS,Overall Health,Arthritis among older adults,Percentage of older adults ever told they have...,0.0,...,Q43,0.0,9004,AGE,AGE_OVERALL,RACE,HIS,0.0,0.0,0.0
1,BRFSS~2017~2017~9001~Q43~TOC11~AGE~OVERALL,2017,2017,NRE,Northeast,BRFSS,Overall Health,Arthritis among older adults,Percentage of older adults ever told they have...,0.0,...,Q43,0.0,9001,AGE,65PLUS,OVERALL,OVERALL,0.0,0.0,0.0
2,BRFSS~2019~2019~9002~Q02~TNC02~AGE~OVERALL,2019,2019,MDW,Midwest,BRFSS,Nutrition/Physical Activity/Obesity,Eating 3 or more vegetables daily,Percentage of older adults who are eating 3 or...,0.0,...,Q02,0.0,9002,AGE,AGE_OVERALL,OVERALL,OVERALL,0.0,0.0,0.0
3,BRFSS~2020~2020~59~Q43~TOC11~AGE~GENDER,2020,2020,US,"United States, DC & Territories",BRFSS,Overall Health,Arthritis among older adults,Percentage of older adults ever told they have...,0.0,...,Q43,0.0,59,AGE,65PLUS,GENDER,FEMALE,0.0,0.0,0.0
4,BRFSS~2020~2020~33~Q03~TMC01~AGE~GENDER,2020,2020,NH,New Hampshire,BRFSS,Mental Health,Frequent mental distress,Percentage of older adults who are experiencin...,0.0,...,Q03,0.0,33,AGE,5064,GENDER,FEMALE,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250932,BRFSS~2015~2015~54~Q30~TCC01~AGE~RACE,2015,2015,WV,West Virginia,BRFSS,Cognitive Decline,Subjective cognitive decline or memory loss am...,Percentage of older adults who reported subjec...,0.0,...,Q30,0.0,54,AGE,AGE_OVERALL,RACE,ASN,0.0,0.0,0.0
250933,BRFSS~2015~2015~40~Q35~TOC03~AGE~RACE,2015,2015,OK,Oklahoma,BRFSS,Overall Health,Recent activity limitations in past month,Mean number of days with activity limitations ...,0.0,...,Q35,0.0,40,AGE,5064,RACE,BLK,0.0,0.0,0.0
250934,BRFSS~2017~2017~33~Q44~TOC12~AGE~OVERALL,2017,2017,NH,New Hampshire,BRFSS,Overall Health,Severe joint pain among older adults with arth...,Severe joint pain due to arthritis among older...,0.0,...,Q44,0.0,33,AGE,AGE_OVERALL,OVERALL,OVERALL,0.0,0.0,0.0
250935,BRFSS~2015~2015~51~Q39~TGC04~AGE~RACE,2015,2015,VA,Virginia,BRFSS,Caregiving,Intensity of caregiving among older adults,Average of 20 or more hours of care per week p...,0.0,...,Q39,0.0,51,AGE,65PLUS,RACE,HIS,0.0,0.0,0.0
250936,BRFSS~2015~2015~49~Q02~TNC02~AGE~RACE,2015,2015,UT,Utah,BRFSS,Nutrition/Physical Activity/Obesity,Eating 3 or more vegetables daily,Percentage of older adults who are eating 3 or...,0.0,...,Q02,0.0,49,AGE,5064,RACE,HIS,0.0,0.0,0.0

In [12]:
grouped_mean = df.groupby('Class')['LocationID'].mean()

In [13]:
grouped_mean

Class
Caregiving                             1428.851026
Cognitive Decline                      1295.590531
Mental Health                           653.679232
Nutrition/Physical Activity/Obesity     654.824533
Overall Health                          655.783021
Screenings and Vaccines                 702.266382
Smoking and Alcohol Use                 653.710612
Name: LocationID, dtype: float64

In [14]:
##aggregating multiple functions.

grouped_agg = df.groupby('Class')['YearEnd'].agg(['mean','sum','count'])

In [15]:
grouped_agg

                                            mean        sum  count
Class
Caregiving                           2018.882589   49315245  24427
Cognitive Decline                    2018.580443   42420468  21015
Mental Health                        2017.992771   39080448  19366
Nutrition/Physical Activity/Obesity  2017.993087   61298558  30376
Overall Health                       2018.108216  169704738  84091
Screenings and Vaccines              2018.004207  105535566  52297
Smoking and Alcohol Use              2017.992822   39078431  19365

In [16]:
###merging and joining dataframes

df1 = pd.DataFrame({'Key' : ['A','B','C'], 'Value1' : [1,2,3]})
df2 = pd.DataFrame({'Key' : ['A','B','D'], 'Value2' : [4,5,6]})

In [17]:
df1

  Key  Value1
0   A       1
1   B       2
2   C       3

In [18]:
df2

  Key  Value2
0   A       4
1   B       5
2   D       6

In [19]:
###merge dataframe on the 'Key columns'ArithmeticError
df_inner = pd.merge(df1,df2, on='Key',how='inner')
df_inner

  Key  Value1  Value2
0   A       1       4
1   B       2       5

In [20]:
df_outer= pd.merge(df1,df2, on='Key',how='outer')
df_outer

  Key  Value1  Value2
0   A     1.0     4.0
1   B     2.0     5.0
2   C     3.0     NaN
3   D     NaN     6.0

In [21]:
df_left= pd.merge(df1,df2, on='Key',how='left')
df_left

  Key  Value1  Value2
0   A       1     4.0
1   B       2     5.0
2   C       3     NaN

In [22]:
df_right= pd.merge(df1,df2, on='Key',how='right')
df_right

  Key  Value1  Value2
0   A     1.0       4
1   B     2.0       5
2   D     NaN       6

In [23]:
####Extraction of different datasets

##json --> to_json
##html -->

In [24]:
pip install lxml

Requirement already satisfied: lxml in /Users/anuragrachoti/PYTHON/venv/lib/python3.12/site-packages (5.3.0)
Note: you may need to restart the kernel to use updated packages.

In [31]:
!pip install html5lib

Collecting html5lib
  Downloading html5lib-1.1-py2.py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: six>=1.9 in /Users/anuragrachoti/PYTHON/venv/lib/python3.12/site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in /Users/anuragrachoti/PYTHON/venv/lib/python3.12/site-packages (from html5lib) (0.5.1)
Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
Installing collected packages: html5lib
Successfully installed html5lib-1.1

In [34]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /Users/anuragrachoti/PYTHON/venv/lib/python3.12/site-packages (4.12.3)
Requirement already satisfied: soupsieve>1.2 in /Users/anuragrachoti/PYTHON/venv/lib/python3.12/site-packages (from beautifulsoup4) (2.6)

In [32]:

url = 'https://fdic.gov/bank-failures/failed-bank-list'
df_https = pd.read_html(url)

In [35]:
df_https[0]

,Bank Name,City,State,Cert,Aquiring Institution,Closing Date,Fund Sort ascending
0,Republic First Bank dba Republic Bank,Philadelphia,Pennsylvania,27332,"Fulton Bank, National Association","April 26, 2024",10546
1,Citizens Bank,Sac City,Iowa,8758,Iowa Trust & Savings Bank,"November 3, 2023",10545
2,Heartland Tri-State Bank,Elkhart,Kansas,25851,"Dream First Bank, N.A.","July 28, 2023",10544
3,First Republic Bank,San Francisco,California,59017,"JPMorgan Chase Bank, N.A.","May 1, 2023",10543
4,Signature Bank,New York,New York,57053,"Flagstar Bank, N.A.","March 12, 2023",10540
5,Silicon Valley Bank,Santa Clara,California,24735,First Citizens Bank & Trust Company,"March 10, 2023",10539
6,Almena State Bank,Almena,Kansas,15426,Equity Bank,"October 23, 2020",10538
7,First City Bank of Florida,Fort Walton Beach,Florida,16748,"United Fidelity Bank, fsb","October 16, 2020",10537
8,The First State Bank,Barboursville,West Virginia,14361,"MVB Bank, Inc.","April 3, 2020",10536
9,Ericson State Bank,Ericson,Nebraska,18265,Farmers and Merchants Bank,"February 14, 2020",10535

In [36]:
url2 = 'https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes'
country_codes = pd.read_html(url2, match = 'Country', header=0)[0]
country_codes

,ISO 3166[1] name[5],Official state name[6][a],Sovereignty [6][7][8],ISO 3166-1[2],ISO 3166-1[2].1,ISO 3166-1[2].2,ISO 3166-2[3] subdivision codes link,TLD [9]
0,ISO 3166[1] name[5],Official state name[6][a],Sovereignty [6][7][8],A-2 [5],A-3 [5],Num. [5],ISO 3166-2[3] subdivision codes link,TLD [9]
1,Afghanistan,the Islamic Republic of Afghanistan[b],UN member,AF,AFG,004,ISO 3166-2:AF,.af
2,Ã…land Islands,Ã…land[c][d],Finland,AX,ALA,248,ISO 3166-2:AX,.ax
3,Albania,the Republic of Albania,UN member,AL,ALB,008,ISO 3166-2:AL,.al
4,Algeria,the People's Democratic Republic of Algeria,UN member,DZ,DZA,012,ISO 3166-2:DZ,.dz
...,...,...,...,...,...,...,...,...
267,Wallis and Futuna,the Territory of the Wallis and Futuna Islands,France,WF,WLF,876,ISO 3166-2:WF,.wf
268,Western Saharaâ€Š[an],the Sahrawi Arab Democratic Republic[c][d],Disputedâ€Š[ao],EH,ESH,732,ISO 3166-2:EH,[ap]
269,Yemen,the Republic of Yemen,UN member,YE,YEM,887,ISO 3166-2:YE,.ye
270,Zambia,the Republic of Zambia,UN member,ZM,ZMB,894,ISO 3166-2:ZM,.zm
271,Zimbabwe,the Republic of Zimbabwe,UN member,ZW,ZWE,716,ISO 3166-2:ZW,.zw